/* Mobile First */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background: white url(../imagens/header-image2.jpg) center bottom no-repeat;  
    background-size: cover;
    background-color: transparent;
}
.header {
    background-color: rgba(255, 255, 255, 0.837);
    display: flex;
    margin: auto;
    justify-content: space-between;
    padding: 10px;
    padding-bottom: 0;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.364);
    position: sticky;
    top: -1px;
    z-index: 1;
}
span#menu {
    cursor: pointer;
    scale: 1.5;
}
nav#nav {
    display: none;
}
nav#nav > ul {
    list-style-type: none;
    margin: 40px;
    line-height: 60px;
    font-size: 1.1em;
}
nav#nav > ul > li {
    transition: transform .2s ease-in-out;
}
nav#nav > ul > li:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #644B47;
    transform: rotate(5deg);
}
.primeiraImagem {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 400px;
    line-height: 40px;
}
.divPrimeiraImagem > p > a {
    display: block;
    background-color: #658755;
    box-shadow: 0 0 15px  rgba(0, 0, 0, 0.672);
    margin-top: 20px;
    padding: 5px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: background-color .4s ease-in-out, color .4s ease-in-out;
}
.divPrimeiraImagem > p > a:hover {
    background-color: white;
    color: #658755;
}
main {
    padding: 70px 30px;
    text-align: justify;
    background-color: white;
    min-width: 200px;
    max-width: 1200px;
    margin: auto;
}
main h2 {
    color: #658755;
    padding-top: 30px;
    padding-bottom: 30px;
}
main h3 {
    margin-bottom: 10px;
}

main > section {
    margin-bottom: 50px;
}

.sobre > img {
    margin-top: 50px;
    width: 100%;
}
.imagensTiposComida > img {
    width: 100%;
    margin-bottom: 40px;
    transition: opacity .4s ease-in-out;
}
.imagensTiposComida > img:hover {
    opacity: 0.5;
}
.filhosCardapio {
    margin: auto;
    text-align: center;
    background-color: #919191;
    padding: 10px;
    border-radius: 15px;
    margin: 30px 0;
    transition: opacity .4s ease-in-out, box-shadow .4s ease-in-out;
}
.filhosCardapio:hover {
    opacity: 0.8;
    cursor: pointer;
    box-shadow: 0 0 15px;
}
.filhosCardapio > img {
    display: block;
    width: 50%;
    height: 170px;
    border-radius: 50%;
    margin: auto;
}
.filhosCardapio > .conteudoCardapio {
    padding: 30px 0;
    line-height: 1.5em;
}
.filhosCardapio > .conteudoCardapio > h4 {
    font-size: 1.2em;
    color: #644B47;
}
.filhosCardapio > .conteudoCardapio > a {
    color: #658755;
    font-weight: 800;
    text-decoration: none;
    transition: text-decoration .4s ease-in-out;
    text-shadow: 1px 1px 1px black;
}
.filhosCardapio > .conteudoCardapio > a:hover {
    text-decoration: underline;
}
.avaliacoes {
    margin: auto;
    text-align: center;
    margin: 80px 0;
    line-height: 50px;
}
.imagemCliente {
    width: 50%;
    border-radius: 50%;
    height: 210px;
    transition: transform .4s ease-in-out;
}
.imagemCliente:hover {
    transform: scale(1.1);
}
aside {
    background-color: white;
}
aside > img#imagemParaContato {
    width: 100%;
}
aside > form {
    padding: 20px;
    margin: auto;
    text-align: center;
}
aside > form > h4 {
    color: #486938;
}
aside > form > div.contatoCliente {
    position: relative;
}
aside > form > div.contatoCliente > input {
    padding: 15px;
    border-radius: 15px;
    outline: none;
    border: 1px solid #486938;
    width: 100%;
    z-index: 1;
    
}
aside > form > div.contatoCliente > input::placeholder {
    color: transparent;
}
aside > form > div.contatoCliente > label {
    display: inline;
    position: absolute;
    top: 15px;
    left: 30px;
    color: #644B47;
    transition: top .4s ease-in-out;
}
aside > form > div.contatoCliente > input:focus + label {
    top: -10px;
    left: 5px;
    background-color: white;
    padding: 0 5px;
}
aside > form > div.contatoCliente > input:not(:placeholder-shown) + label {
    top: -10px;
    left: 5px;
    background-color: white;
    padding: 0 5px;
}
.contatoCliente {
    margin-bottom: 30px;
}
footer {
    padding: 20px;
}
@media screen and (min-width: 648px){
    header .header{
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: row-reverse;
        height: 50px;
        
    }
    .header > menu {
        align-self: center;
    }
    header .header > h1 {
        align-self: center;
        padding-left: 30px;
    }
    span#menu {
        display: none;
    }
    nav#nav {
       display: block;     
    }
    nav#nav > ul > li {
        display: inline-block;
        padding:4px;  
    }
    .sobre {
        display: flex;
        flex-flow: column;
    }
    .sobre > img {
        width: 70%;
        align-self: center;
    }
    .imagensTiposComida {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        
    }
    .imagensTiposComida > img {
        width: 45%;
        align-self: center;
        margin-left: 20px;
    }
    .paiCardapio {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    .filhosCardapio {
        flex-basis: 250px;
    }
    .filhosCardapio > img {
        width: 150px;
    }
    .blocoAvaliacoes {
        display: flex;
    }
    .imagemCliente {
        width: 200px;
    }
    aside {
        display: flex;
        justify-content: space-evenly;
        margin: auto;
        background-color: rgb(161, 161, 161);
        padding: 20px;
    }
    aside > img#imagemParaContato {
        width: 50%;
    }
    aside > form {
        padding-top: 50px;
        height: 300px;
        width: 100%;
        background-color: white;
    }
    .contatoCliente {
        margin-top: 20px;
    }
}
@media screen and (min-width: 900px){
    .sobre {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }
    .sobre > .conteudoSobreNos {
        flex-basis: 500px;
    }
    .sobre > img {
        width: 35%;
        align-self: center;
    }
    .imagensTiposComida {
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
    }
    .imagensTiposComida > img {
        width: 30%;
    }
    .filhosCardapio {
        flex-basis: 300px;
    }
    .blocoAvaliacoes {
        display: flex;
        justify-content: space-between;
    }
    .avaliacoes {
        flex-basis: 200px;
    }
    .imagemCliente{
        width: 200px;
    }
    aside {
        padding: 15px 200px;
    }
    aside > form {
        height: 400px;
        padding-top: 80px;
    }

}