* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    height: 100vh;
    background: white url(imagem-fundo-gato.jpg) center center no-repeat fixed;
    background-size: cover;
}
main {
    margin: auto;
    margin-top: 30px;
    min-width: 200px;
    max-width: 500px;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.415);
    box-shadow: 0 0 15px black;
}
main > h1 {
    text-align: center;
    color: #EAECBD;
    font-weight: 800;
    margin-bottom: 40px;
}
main > form > .formulario {
    text-align: center;
    position: relative;
}
main > form > .formulario > input {
    color: white;
    margin-bottom: 50px;
    padding: 10px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid #eaecbdb6;
}
main > form > .formulario > label {
    position: absolute;
    left: 15px;
    top: 10%;
    color: #EAECBD;
    transition: top .4s, color .4s;
}
main > form > .formulario > input:focus + label {
    top: -15px;
    color: #ecede3;
}
main > form > .formulario > input:not(:focus)::placeholder {
    color: transparent;
}  
main > form > .formulario > input:not(:placeholder-shown) + label {
    top: -15px;
} 
img {
    margin-left: 150px;
}
div#relembrar {
    color: #EAECBD;
}
div#relembrar > a {
    color: #9d9f81;
    text-decoration: none;
}
div#relembrar > a:hover {
    text-decoration: underline;
    color: #EAECBD;
}
div#login {
    text-align: center;
}
div#login > input{
    border: 1px solid #EAECBD;
    margin: 30px 0;
    padding: 10px;
    border-radius: 20px;
    outline: none;
    width: 90%;
    background-color: #9d9f81;
    color: #EAECBD;
    font-size: 1em;  
    transition: scale .4s ease-in-out, box-shadow .5s ease-in-out;
    cursor: pointer;
}
div#login > input:hover {
    scale: 1.1;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.627);
}
p {
    color: #ffffff;
}
a {
    color: #9d9f81;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #EAECBD;
}