@charset "UTF-8";
body{
    background-color: rgb(157, 109, 202);
}
main{
    text-align: center;
    margin: auto;
    font: normal normal 1.2em 'Arial', sans-serif;
    background-color: white;
    min-width: 200px;
    max-width: 700px;
    padding: 30px;
}
main > h1{
    font-family: cursive;
    color: rgb(157, 109, 202);
    text-shadow: inset 1px 1px 1px black;
    text-align: left;

}
main > hr{
    width: 20%;
    margin-left: 1%;
    border: 5px solid rgb(157, 109, 202);
    border-radius: 5px;
}
main > form{
    margin-top: 70px;
}
main > form > p{
    text-align: left;
    line-height: 50px;
}
main > form > p > label:hover{
    color: rgb(157, 109, 202);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.397);
    font-size: 1.1em;
    transition: .2s;
}
main > form > p > label > input{
    font: normal normal 1.1em 'Arial';
    padding: 15px;
    width: 94%;
    border-radius: 5px;
}
main > form > p > label > input:hover{
    border-color: rgb(157, 109, 202);
}
main > form > p > label > select{
    font: normal normal 1.1em 'Arial';
    padding: 15px;
    width: 94%;
    border-radius: 5px;
    width: 99%;

}
main > form > p > input#enviar{
    background-color: rgb(157, 109, 202);
    color: white;
    font: normal normal 1.2em 'Arial';
    padding: 20px;
    width: 100%;
}
main > form > p > input#enviar:hover{
    transition: 0.2s;
    color: rgb(157, 109, 202);
    background-color: white;
}