* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    height: 100vh;
    background-image: linear-gradient(to bottom, white, lightgray);
}
header {
    background-color: gray;
}
#burguer {
    display: block;
    padding: 10px;
    text-align: center;
    background-color: rgb(47, 47, 47);
    transition: background-color .4s;
}
#burguer:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}
menu {
    display: none;
}
menu > ul {
    list-style-type: none;
}
menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.588);
    color: white;
    text-align: center;
    border: 1px solid gray;
    transition: transform .4s ease-in-out;
}
menu a:hover {
    transform: translateY(-3px);
    fill: black;
    background-color: rgba(0, 0, 0, 0.298);
}
main {
    background-color: gray;
    margin: auto;
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
}
article h2 {
    padding: 20px;
}
article p {
    text-align: justify;
    text-indent: 10px;
    margin-bottom: 10px;
}

@media screen and (min-width: 600px) {
    #burguer {display: none;}
    menu{display: block;}
    menu li {
        display: inline-block;
    }  
}