 /* configuração global */

 * {
    margin: 0;
    padding: 0;
 }
 body {
    color: white;
    height: 100vh;
    background-color: blue;
 }

 /* retrato */

 @media screen and (orientation: portrait) {
    body {
        background: #233EFF url(../imagens/cev-portrait.jpg) center bottom no-repeat fixed;
        background-size: contain;
    }
 }

 /* paisagem */

 @media screen and (orientation: landscape) {
    body {
        background: #233EFF url(../imagens/cev-landscape.jpg) center bottom no-repeat fixed;
        background-size: contain;
    }
 }