@charset "UTF-8";
*{
    margin: 0;
}
body{
    background: white url(https://i.ibb.co/NFRhL44/img.jpg) center center no-repeat fixed;
    background-size: cover;
}
main{
    font: normal normal 1.2em 'Arial', sans-serif;
    margin: auto;
    margin-top: 400px;
    min-width: 50px;
    max-width: 500px;
    transform: translate(-1px, -10px);
    background-color: transparent;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.466);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.616);
    padding: 40px;
}
main > h1{
    color: white;
    margin: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-weight: 800;
}
main > form > label > p{ 
    border: 1px solid rgba(255, 255, 255, 0.445);
    margin: 0px;
    margin-bottom: 30px;
    border-radius: 20px;
    padding: 15px;
}
main > form > label > p > input{
    font: normal normal 1.1em 'Arial', sans-serif;
    background-color: transparent; 
    border: 0;
    outline: none;
    color: white;
}
main > form > label > p > input::placeholder{
    color: white
}
main > form > label > p > img{
    margin-left: 180px;
}
main > form > p > label{
    color: white;
    font: normal normal 1em 'Arial';
    margin-right: 180px;
}
main > form > p > a{
    color: white;
    text-decoration: none;
}
main > form > p > a:hover{
    text-decoration: underline;
    color: #332562;
}
main > form > p > input#login{
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    margin-bottom: 25px;
    margin-top: 25px;
    font-size: 1.2em;
    border: 0;
}
main > form > p > input#login:hover{
    background-color: #332562;
    color: white;
    transition: .2s;
}
main > form > p#nao-tem-conta{
    color: white;
    margin-right: 120px;
}
footer{
    background-color: #332562;
    color: white;
    font: normal normal 1.1em 'Arial';
    line-height: 40px;
    margin-top: 150px;
    padding-bottom: 300px;
}